@import "src/theme/variables";
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body);
  padding: 0;
  font-size: 16px;
  direction: rtl;
  font-family: Shabnam;
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}
[class^="flaticon-"]:before {
  margin-left: 0 !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #666666;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
html {
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}
p {
  text-align: justify;
}
input:focus {
  outline: none !important;
}
::placeholder {
  font-family: Shabnam;
}
.Toastify__toast {
  font-family: Shabnam !important;
  font-weight: normal;
}
.Toastify__toast--error{
  background-color: #ff006f;
}
.Toastify__toast--success{
  background-color: #09C8B6;
}
.Toastify__toast--info{
  background-color: #40ace3;
}
