.header {
  border-radius: 0 !important;
  /*position: fixed;*/
  width: 100%;
  top: 0;
  /*margin-bottom: 20px;*/
  z-index: 1;
  /*background-color: #f5f5f5 !important;*/
}
.header .header-wrapper {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
.header-wrapper > div {
}
.header-wrapper div.right {
  flex-basis: 40%;
  display: flex;
  justify-content: space-between;
}
.header-wrapper div.right:last-child {
  width: 70%;
}
.header-wrapper div.middle {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
}
.header-wrapper div.left {
  flex-basis: 40%;
  display: flex;
  justify-content: flex-end;
}
.login-wrapper {
  text-align: center;
}
.login-wrapper h2{
  text-align: center !important;
  font-weight: bold;
  font-size : 20px !important;
}
.login-form{
  display: flex !important;
  direction: ltr;
  margin-bottom: 20px;
}
.login-form > div {
  margin: 0 1.5px;
}
.login-form input {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding: 8px 3px;
  color: #000000;
  font-family: inherit !important;

}
.login-form input[disabled] {
  background-color: #f0f0f0;
}
.login p {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  display: block;
}
.login-form .verify-code {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center !important;
  align-items: center;
  align-self: center;
  flex-basis: 50%;

}
.login-form .verify-code div {
  margin: 0 1px;
}
.login-form-msg b{
  color: #d92d4b;
}
@media only screen and (max-width: 768px) {

  .login-form input {
    font-size: 25px;
    padding: 2px 3px;
  }

  .login-form > div {
    margin: 0 1px;
  }

  .login-form .verify-code {
    flex-basis: 100%;

  }
}
