//@import "app";

body {
    font-size: 12px;
    background-color: #f2f3f5;
    font-family:  "Shabnam";
    margin: 0;
    padding: 0;
}
.content {
    margin-bottom: 25px;
}
// content
.box{
    background-color: #ffffff;
    min-height: 200px;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
}

//table
.table {
    text-align: center;
    border-collapse: separate !important;
    border-spacing: 0 10px;
    margin: 25px 0;
    width: 100%;
}
.table thead tr{
    background-color: transparent;
    padding: 0;
    border: 0
}
.table thead tr th{
    cursor: pointer;
    padding: 0;
    border: 0
}
.table thead tr th svg{
    position: relative;
    top: 7px;
}
table tbody tr {
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 2.5px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 2.5px 0 rgba(0,0,0,.15);
}
table tbody tr:hover {
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, .15);
    box-shadow: 0 6px 15px rgba(0, 0, 0, .15);
    cursor: pointer;
}
table tbody tr:hover {
    background-color: #ffffff;
}
table  td{
    padding: 10px 0;
}
.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
}

.pagination li a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0 4px;
}

.pagination li.active {
    background-color: #443bf0;
    border: 1px solid #443bf0;
    color: #ffffff !important;
}
.pagination li.active a {
    color:#ffffff;
}



// material
.MuiButton-root, .MuiTypography-root, .MuiInputBase-root,.MuiInputLabel-animated{
    font-family: inherit !important;
}
//.MuiInputBase-inputMarginDense{
//    //padding-right: 10px !important;
//}
//.MuiInputLabel-formControl {
//    position: absolute !important;
//    top: 0;
//    right: 0 !important;
//    left: unset !important;
//}
//// end content
//.box-shadow {
//    -webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, .15);
//    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, .15);
//}
//.page-link {
//    border: 0;
//    background-color: transparent;
//}
//.page-item.active .page-link {
//    -webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, .15);
//    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, .15);
//    background-color: $blue;
//}
//.page-link:hover {
//    background-color: #007bff;
//    color: #ffffff;
//    -webkit-transition: .4s;
//    transition: .4s;
//    -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, .15);
//    box-shadow: 0 6px 30px rgba(0, 0, 0, .15);
//    border-radius: 0;
//}
//
///* forms*/
//::placeholder{
//    font-size: 12px;
//}
//.form-control{
//    border: 1px solid #cecece;
//    -webkit-box-sizing: border-box!important;
//    box-sizing: border-box!important;
//    text-rendering: optimizeLegibility;
//    -webkit-font-smoothing: antialiased;
//    -moz-osx-font-smoothing: grayscale;
//    font-size: 12px;
//}
//textarea:focus,
//input[type="text"]:focus,
//input[type="password"]:focus,
//input[type="datetime"]:focus,
//input[type="datetime-local"]:focus,
//input[type="date"]:focus,
//input[type="month"]:focus,
//input[type="time"]:focus,
//input[type="week"]:focus,
//input[type="number"]:focus,
//input[type="email"]:focus,
//input[type="url"]:focus,
//input[type="search"]:focus,
//input[type="tel"]:focus,
//input[type="color"]:focus,
//.uneditable-input:focus {
//    border: 1px solid #919191;
//    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(8, 16, 8, 0.74);
//    outline: 0 none;
//}
