.menu-container {
  padding: 20px 0;
}
ul.menu-container li {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
}
ul.menu-container li a {
  margin-left: 10px;
}
.tree-box {
  margin: 0 10px 10px 0;
}
.tree-parent {
  display: flex;
  justify-content: flex-start;
}
.tree-box .has-no-child {
  padding-right: 18px;
}
.tree-box a {
  padding-right: 5px;
}
.tree-children {
  padding-right: 10px;
  padding-top:  5px;
}
