:root {
  --footer: rgb(207, 216, 221);
  --border: rgba(0, 0, 0, .1);
  --arrowDark: rgba(0, 0, 0, .5);
  --arrow:  rgb(121, 129, 131);
  --blue: rgb(0, 191, 214);
  --blueLight: rgb(29, 182, 216);
  --bluelight: rgb(74, 84, 128);
  --Dark: rgba(0, 0, 0, .8);
  --light: rgb(121, 129, 131);
  --light3: rgb(248, 248, 250);
  --light2: rgb(235, 239, 242);
  --box-shadow: 0 0 12px 1px rgba(0, 0, 0, .1);
  --green-btn: rgb(0, 212, 99);
  --SeeMore: red;
  --body: rgb(235, 239, 242);
  --saerch: rgb(235, 239, 241);
  --OpenMenu: rgba(0, 0, 0, .7);
  --hover: rgb(103, 59, 183);
  --Tittle: rgb(103, 59, 183);
  --Input: rgb(235, 239, 242);
  --font_color:rgb(121, 129, 131);
  --font_color_light:rgba(121, 129, 131,.3);
  --Primary_color:rgb(0, 191, 214);
  --Tertiary_color: #06d79c;
  --border_color: rgb(218, 222, 225);
  --light_color:rgb(235, 239, 242);
}
